<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mini Message Board</h1>
    <p>Welcome to a mini-message board!</p>
    <a href="/new">Send a message</a>

    <% for(const msg of messages) { %>
      <div id='msg-container'>
        <h3><%= msg.user%></h3>
        <p><%= msg.text%></p>
        <span><%= msg.added%></span>
      </div>
    <% } %>

  </body>
</html>
